/* style.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a { 
    text-decoration: none;
    color: #fff;
}


header {
    position: relative;
    z-index: 999;
    width: 100%;
    height: 56px;
    background: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}

header h1 {
    /* outline: 1px solid red; */
    line-height: 12.27px;
}

header h1 img { 
    width: 120px;
}

header .util-menu ul li {
    display: inline-block;
    margin-left: 1em;
}

/* 1단계 메뉴 */
header .gnb .depth1 {
    display: flex;
}

header .gnb .depth1 > li {
    outline: 1px solid red;
    width: 6rem;
    text-align: center;
}

/* 2단계 메뉴 */
header .gnb .depth2 {
    /* 기본 안보임 상태 */
    display: none;
}

/* 1depth메뉴 hover시 2depth메뉴 표시 */
/* .depth1 li가 hover되면(조건) .depth2를 선택 */
header .gnb .depth1 li:hover .depth2 {
    display: block;
}

header nav.gnb {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#demoVid {
    /* 배경을 화면에 채움 */
    position: fixed;
    min-width: 100%;
    min-height: 100%;

    /* 구도를 중앙으로 조정 */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}